:root {
    --azul-claro: #02BAF5
}

body {
    background-color: #EBEFFF;
}

/* Estilização do cabeçalho */

.cabecalho {
   width: 100vw; 
   background-color: var(--azul-claro);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 6rem;
}

.cabecalho h1 {
    color: white;
    font-size: 16px;
    padding-bottom: 0.3rem;
}

.cabecalho a {
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding-right: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

b {
    font-weight: 700;
}

/* Estilização do Formulário */

main {
    width: 100vw;
    display: flex;
    padding-top: 3rem;
    justify-content: center;
}

.card {
    width: 28.4rem;
    height: 35rem;
    background-color: white;
    opacity: 0.6;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    font-size: 16px;
    font-weight: 700;
    padding-block: 2rem;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24.5rem;
}

.card form .login {
    display: flex;
    justify-content: space-between;
}

.card form .login p{
    font-weight: 700;
}

.card form .login a{
    color: var(--azul-claro);
}

.card form label {
    font-size: 12px;
    font-weight: 700;
}

.card form .input {
    background: #E8E8E8;
    border: 3px solid #7B8590;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding-inline: 0.6rem;
}

.card form input {
    background-color: transparent;
    border: none;
    width: auto;
}

.card form input:focus {
  outline: none;
}

.card form input::placeholder {
    color: #797676;
}

.card form .input .botao-senha {
    border: none;
    background-color: transparent;
    background-image: url(/assets/eye-locked.svg);
    width: 2.2rem;
    height: 2.2rem;
}